
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica', Sans-serif;
  font-size:15px;
  background-color: #f7f7f7;
  color: black;
  min-height: 100%;
}

body {
  padding-top: 50px;
}

div.footer {
  text-align: right;
  font-size: 11px;
  border-top: 1px solid #D0D0D0;
  padding: 0px 10px 0px 10px;
}

code {
  font-family: Consolas, Monaco, Courier New, Courier, monospace;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px solid #D0D0D0;
  color: #002166;
  display: block;
  margin: 14px 5px 14px 5px;
  padding: 12px 10px 12px 10px;
}

.red { color: red; }
.blue { color: blue; }
.yellow { color: yellow; }
.green { color: green; }


.content-wrap .col-md-4,
.bc-wrap .col-xs-6
{
  margin: 0px !important;
  padding: 0px 5px !important;
  
}

/* top btns in mobile */
#navbar-header {
  width: 50%;
}
#navbar-header .btn {
  margin-top: 8px;
}
/* top btns in mobile end */

.bc-wrap .col-xs-12,
.sidebar .panel-body,
.sidebar .list-group
{
  margin: 0px; padding: 0px;
}

.breadcrumb {
  margin: 0px 0px 2px 10px !important;
  padding: 2px 5px !important;
}

/* side bar */
.sidebar div.l0 .glyphicon { padding-left: 0px;  }
.sidebar div.l1 .glyphicon { padding-left: 10pt; }
.sidebar div.l2 .glyphicon { padding-left: 20pt; }
.sidebar div.l3 .glyphicon { padding-left: 30pt; }
.sidebar div.l4 .glyphicon { padding-left: 40pt; }
.sidebar div.l5 .glyphicon { padding-left: 50pt; }
.sidebar div.l6 .glyphicon { padding-left: 60pt; }
#rsslist div .glyphicon { padding-right: 4px; }

#collapseOne .list-group-item { padding: 5px 5px; border: 0px; }
#collapseOne .list-group-item .text { display: inline-block; overflow: hidden; white-space: nowrap; }
#collapseOne .l1 .list-group-item .text { width: 71%; }
#collapseOne .l2 .list-group-item .text { width: 66%; }
#collapseOne .l3 .list-group-item .text { width: 61%; }
#collapseOne .l4 .list-group-item .text { width: 56%; }

#collapseOne a.activexml .badge { background-color: #2B6699; color: white; }
#collapseOne div.hiddenNO { display: block !important; }
#collapseOne a.hiddenYES { display: none !important; }
#collapseOne a.list-group-item span.allleft { padding-left: 0; }

#collapseOne a .favicon { border: 0px; width: 16px; height: 16px; padding: 0px; margin: 0px; }
#collapseOne a .glyphicon-tags { padding-right: 8px; }
#collapseOne a.xml { line-height: 1; padding-top: 8px; padding-bottom: 8px; }
/* side bar end */

/* list and single article */
#rsscol2 { margin: 0px; padding: 0px; }
#rss { margin-bottom: 4px; padding: 0px 2px 2px 2px; }

/* rss articles list */
#rssactive { font-size: 85%; }
#rssactive .rss-items { margin-bottom: 4px; }
#rssactive a { padding: 3px 5px;  background-color: #e5e5e5; outline: 0px; }
#rssactive .glyphicon { padding-right: 4px; }
#rssactive .glyphicon-cog { padding: 0px 2px 0px 2px; }
/*#rssactive .glyphicon-trash { float: right; margin-top: -10px; padding-right: 10px; }*/
#rssactive .pubdate { float: right; padding: 0px 0px 0px 5px; }
#rssactive .author { font-weight: bold; display: block; float: right; }
#rssactive .title {
  vertical-align: top;
  display: inline-block; width: 65%;
  white-space: nowrap; overflow: hidden;
}
#rssactive .unread { background-color: #fff; }
#rssactive .unread .author { color: blue; }
#rssactive-pager-wrap { margin: 0px; padding: 0px; border: 1px solid #fff; }
#rssactive-pager-wrap ul { margin: 4px 0px; display: none; }
/* rss articles list end */

/* rss article */
#rssview { padding: 0px 2px 2px 2px; }
#rssview .list-group,
#rssview .list-group-item
{
  margin: 0px; padding: 0px;
  border: 1px solid #eee;
}
#rssview .list-group-item .l2 {
  background-color: #eee !important;
  padding: 2px 4px 5px 4px;
  font-size: 90%;
}
#rssview .title {
  display: inline-block; width: 75%;
  white-space: nowrap; overflow: hidden;
  vertical-align: top;
}
#rssview .readtog { float: right; }
#rssview .author,
#rssview .pubdate
{
  display: inline-block; width: 44%;
}
#rssview .pubdate { text-align: right; }
#rssview .pubdate strong { display: none; }
#rssview .author,
#rssview .pubdate
{
  font-size: 90%;
}
#rssview .status .glyphicon { padding: 10px 6px 0px 0px; }
#rssview .status .glyphicon-bookmark,
#rssview .status .glyphicon-picture,
#rssview .status .glyphicon-edit
{
  padding-right: 24px;
}
#rssview .pager-simple {
  display: none;
}
#rssview .status .pager-simple {
  float: right; display: block;
}
#rssview hr {
  height: 1px; margin: 0px; padding: 0px;
}
#article1 {
  margin: 0px; padding: 2px 4px;
  background-color: #fff;
}
/* rss article end */

/* layout 3col */
#rsscol2 .col-md-6 #rssactive-pager { display: block; }
#rsscol2 .col-md-6 .title { width: 85%; }
#rsscol2 .col-md-6 .pubdate
{
  display: inline-block; width: normal;
}
#rsscol2 .col-md-6 #rssactive .pubdate
{
  width: normal; text-align: right;
}
#rsscol2 .col-md-6 #rssactive .title {
  display: block; width: 97%;
  white-space: normal; overflow: normal;
}
.col-md-6 #article1 + .pager-simple { display: block; }
/* layout 3col end */


/* Small devices (smartphones, upto 768px) */
@media (max-width: 768px) {
  #navbar-header {
    width: auto;
  }
  #rssactive .rss-items a.list-group-item { padding: 5px; }
  #rssactive-pager-wrap ul { margin: 4px 0px; display: block; }
  #rssview {
    margin: 4px 0px 0px 0px;
  }
  #article1 + .pager-simple { display: block; }
}

/* Small devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  #navbar-header .btn {
    display: none;
  }
  #rss .br { display: none; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}


