*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
temp/
out/
tmp/
*.o
temp/
config/urls.db
config/url.local
config/dbname
config/feedsurl
feeds/
public/lib
run/
var/
!public/lib/.lib
